<div class="landing-page">
  <div class="inner">
    <h3 class="landing-page-title">
      <div class="line">
        Severin Kehding
      </div>
    </h3>
    <div class="landing-page-body">
      <div class="line">
        Welcome! Through this interactive Resume you will learn something about me.
      </div>
      <div class="line">
        At any point there is the option to download a classic resume [bottom right corner] .
      </div>
      <div class='line text-center'>
        Curious? Let's roll!
      </div>
    </div>
    <div button color='yellow' class='enter-button' buttonName='[S]tart'></div>
  </div>
</div>
