<h2 mat-dialog-title>Keyboard Shortcuts</h2>
<mat-dialog-content class="mat-typography">
  <div class="module module-alternate">
    <div class="mod-content">
      <ul class="item-details">
        <li>
          <div class="shortcut-container">
            <mat-label>Start CV Tour:</mat-label>
            <span class="shorcut-value">
              <span class="shortcut-key">CTRL</span> then <span class="shortcut-key">ALT</span> then <span class="shortcut-key">S</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="true" cdk-focus-initial>Close</button>
</mat-dialog-actions>
